/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #66b334;
  line-height: 1.6;
}

/* Encabezado */
header {
  background-color: #4CAF50;
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin-top: 10px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Contenido principal */
main {
  padding: 40px 20px;
  text-align: center;
}

.intro {
  background: white;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



/* Sección de imagen */
.imagen {
  margin-top: 50px;
  text-align: center;
}


.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.img-container img:hover {
  transform: scale(1.05);
}
